*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;

}
.container{
    height: 100vh;
    width: 100%;
    background-image: url(media/image.png);
    background-size: cover;
    background-position: center;
    position: relative;
}
.navbar{
    width: 88%;
    display: flex;
    margin: auto;
    padding: 15px 0px;
    align-items: center;    
}
.navbar{
    width: 88%;
    margin: auto;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 140px;
    cursor: pointer;
}
.navbar ul li{
    display: inline-block;
    margin: 0 15px;
    list-style: none;
}
.navbar ul li a{
    text-decoration: none;
    font-size: 20px;
    color: #5f5f5f;
}
.content{
    width: 100%;
    position: absolute;
    top: 30%;
}
.left-col{
    margin-left: 6%;
}
.left-col h1{
    color: #fff;
    font-size: 90px;
    line-height: 110px;
    float: left;
}
.right-col{
    float: right;
    margin-right: 6%;
    margin-top: 120px;
    display: flex;
    align-items: center;
}
.right-col p{
    font-size: 18px;
    color: #5f5f5f;
    font-weight: 400;
    margin-right: 15px;
}
#icon{
    cursor: pointer;
    width: 80px;
}
.say{
    font-size: 30px;
    color:rgb(189, 226, 219);
    position: absolute;
    
}

